$navbar-padding-x: 10px;
$navbar-padding-y: 5px;
$primary: #848484;

.grayscale {
  filter: grayscale(100%) !important;
}

.online-indicator {
  height: 1ex !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
