<!doctype html>
<html>

<head>
	<title>BeadPull++</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/style.css" rel="stylesheet" charset="utf-8">
	<script defer src="/libs/bootstrap.bundle.min.js" charset="utf-8"></script>
	<script defer src="/libs/tex-chtml.js" charset="utf-8"></script>
	<script defer src="/libs/plotly.min.js" charset="utf-8"></script>
	<script type="module" src="/static/status.js" charset="utf-8"></script>
	<script type="module" src="/static/settings_motor.js" charset="utf-8"></script>
	<script type="module" src="/static/settings_analyzer.js" charset="utf-8"></script>
	<script type="module" src="/static/control_motor.js" charset="utf-8"></script>
	<script type="module" src="/static/calibration_motor.js" charset="utf-8"></script>
	<script type="module" src="/static/control_analyzer.js" charset="utf-8"></script>
	<script type="module" src="/static/calibration_analyzer.js" charset="utf-8"></script>
	<script type="module" src="/static/measure.js" charset="utf-8"></script>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-primary" role="tablist">
		<div class="container-fluid">
			<img src="/favicon.ico" alt="BeadPull++" height="24" class="pe-3">
			<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav bg-primary">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Settings
						</a>
						<ul class="dropdown-menu bg-primary">
							<li><a class="dropdown-item nav-link active" id="motor-control-tab" data-bs-toggle="tab"
									data-bs-target="#settings-motor-tab-pane" role="tab"
									aria-controls="settings-motor-tab-pane" aria-selected="true">Motor</a></li>
							<li>
								<a class="dropdown-item nav-link" id="motor-calibration-tab" data-bs-toggle="tab"
									data-bs-target="#settings-analyzer-tab-pane" role="tab"
									aria-controls="settings-analyzer-tab-pane" aria-selected="false">Analyzer</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Motor
						</a>
						<ul class="dropdown-menu bg-primary">
							<li><a class="dropdown-item nav-link" id="motor-control-tab" data-bs-toggle="tab"
									data-bs-target="#motor-control-tab-pane" role="tab"
									aria-controls="motor-control-tab-pane" aria-selected="false">Control</a></li>
							<li>
								<a class="dropdown-item nav-link" id="motor-calibration-tab" data-bs-toggle="tab"
									data-bs-target="#motor-calibration-tab-pane" role="tab"
									aria-controls="motor-calibration-tab-pane" aria-selected="false">Calibration</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Vector analyzer
						</a>
						<ul class="dropdown-menu bg-primary">
							<li><a class="dropdown-item nav-link" id="analyzer-control-tab" data-bs-toggle="tab"
									data-bs-target="#analyzer-control-tab-pane" role="tab"
									aria-controls="analyzer-control-tab-pane" aria-selected="false">Control</a></li>
							<li>
								<a class="dropdown-item nav-link" id="analyzer-calibration-tab" data-bs-toggle="tab"
									data-bs-target="#analyzer-calibration-tab-pane" role="tab"
									aria-controls="analyzer-calibration-tab-pane" aria-selected="false">Calibration</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="measurements-tab" data-bs-toggle="tab"
							data-bs-target="#measurements-tab-pane" role="tab" aria-controls="measurements-tab-pane"
							aria-selected="false">Measurement</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="theory-tab" data-bs-toggle="tab" data-bs-target="#theory-tab-pane"
							role="tab" aria-controls="theory-tab-pane" aria-selected="false">Theory</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="app_connection">
		<div v-if="!connected" class="alert alert-danger px-5 mb-0 rounded-0" role="alert">
			<strong>
				Connection lost
			</strong>
		</div>
		<div v-if="measuring_field" class="alert alert-info px-5 d-flex align-items-center mb-0 rounded-0" role="alert">
			<strong>
				Measuring field
			</strong>
			<div class="progress flex-fill mx-3" role="progressbar" aria-label="Basic example"
				:aria-valuenow="current_point" aria-valuemin="0" :aria-valuemax="total_points">
				<div class="progress-bar" :style="{width: `${100 * current_point / total_points}%`}">
					{{current_point}}/{{total_points}}
				</div>
			</div>
			<button @click="interrupt_field_measure()" class="btn-close" aria-label="Close"></button>
		</div>
	</div>
	<br />

	<div class="tab-content mx-auto" id="myTabContent">

		<div class="tab-pane fade show active" id="settings-motor-tab-pane" role="tabpanel"
			aria-labelledby="settings-motor-tab" tabindex="0">
			<div id="app_settings_motor" class="container-md">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Motor settings
				</h1>
				<div class="shadow mb-3 p-3 bg-body rounded container">
					<div class="g-2 row">
						<div class="col-12 col-md">
							<div class="input-group">
								<span class="input-group-text">Motor</span>
								<select v-model="motor_name" class="form-select"
									:disabled="!connected || selected || measuring">
									<option selected disabled value="">Motor name</option>
									<option v-for="name in motor_list">{{name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-md">
							<div class="input-group">
								<span class="input-group-text">Bus</span>
								<select v-model="bus_name" class="form-select"
									:disabled="!connected || selected || measuring">
									<option selected disabled value="">Bus name</option>
									<option v-for="name in bus_list">{{name}}</option>
								</select>
							</div>
						</div>
						<div class="btn-group col-12 col-md">
							<button @click="select" class="btn btn-outline-success"
								:disabled="!connected || selected || measuring || !motor_name || !bus_name">Connect</button>
							<button @click="deselect" class="btn btn-outline-danger"
								:disabled="!connected || !selected || measuring || !motor_name || !bus_name">Disconnect</button>
						</div>
					</div>
				</div>
				<motor-dummy v-if="motor_choices.template == 'dummy'"
					v-bind="{attributes: motor_attributes, choices: motor_choices, disabled: !connected || selected}">
				</motor-dummy>
				<motor-u-i-robot v-if="motor_choices.template == 'uirobot'"
					v-bind="{attributes: motor_attributes, choices: motor_choices, disabled: !connected || selected}">
				</motor-u-i-robot>
				<bus-dummy v-if="bus_choices.template == 'dummy'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-dummy>
				<bus-serial v-if="bus_choices.template == 'serial'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-serial>
				<bus-g-p-i-b v-if="bus_choices.template == 'GPIB'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-g-p-i-b>
			</div>
		</div>

		<div class="tab-pane fade" id="settings-analyzer-tab-pane" role="tabpanel"
			aria-labelledby="settings-analyzer-tab" tabindex="1">
			<div id="app_settings_analyzer" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Analyzer settings
				</h1>
				<div class="shadow mb-3 p-3 bg-body rounded container">
					<div class="g-2 row">
						<div class="col-12 col-md">
							<div class="input-group">
								<span class="input-group-text">Analyzer</span>
								<select v-model="analyzer_name" class="form-select"
									:disabled="!connected || selected || measuring">
									<option selected disabled value="">Analyzer name</option>
									<option v-for="name in analyzer_list">{{name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-md">
							<div class="input-group">
								<span class="input-group-text">Bus</span>
								<select v-model="bus_name" class="form-select"
									:disabled="!connected || selected || measuring">
									<option selected disabled value="">Bus name</option>
									<option v-for="name in bus_list">{{name}}</option>
								</select>
							</div>
						</div>
						<div class="btn-group col-12 col-md">
							<button @click="select" class="btn btn-outline-success"
								:disabled="!connected || selected || measuring || !analyzer_name || !bus_name">Connect</button>
							<button @click="deselect" class="btn btn-outline-danger"
								:disabled="!connected || !selected || measuring || !analyzer_name || !bus_name">Disconnect</button>
						</div>
					</div>
				</div>
				<analyzer-dummy v-if="analyzer_choices.template == 'dummy'"
					v-bind="{attributes: analyzer_attributes, choices: analyzer_choices, disabled: !connected || selected}">
				</analyzer-dummy>
				<analyzer-lite-v-n-a v-if="analyzer_choices.template == 'litevna'"
					v-bind="{attributes: analyzer_attributes, choices: analyzer_choices, disabled: !connected || selected}">
				</analyzer-lite-v-n-a>
				<analyzer-agilent87-x-x v-if="analyzer_choices.template == 'agilent87xx'"
					v-bind="{attributes: analyzer_attributes, choices: analyzer_choices, disabled: !connected || selected}">
				</analyzer-agilent87-x-x>
				<analyzer-agilent506-x v-if="analyzer_choices.template == 'agilent506x'"
					v-bind="{attributes: analyzer_attributes, choices: analyzer_choices, disabled: !connected || selected}">
				</analyzer-agilent506-x>
				<bus-dummy v-if="bus_choices.template == 'dummy'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-dummy>
				<bus-serial v-if="bus_choices.template == 'serial'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-serial>
				<bus-g-p-i-b v-if="bus_choices.template == 'GPIB'"
					v-bind="{attributes: bus_attributes, choices: bus_choices, disabled: !connected || selected}">
				</bus-g-p-i-b>
			</div>
		</div>

		<div class="tab-pane fade" id="motor-control-tab-pane" role="tabpanel" aria-labelledby="motor-control-tab"
			tabindex="2">
			<div id="app_control_motor" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Motor control
				</h1>
				<div v-if="capabilities.speed || capabilities.acceleration || capabilities.deceleration"
					class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2 mb-2">
						<div class="col-12 col-lg-6 col-xl" v-if="capabilities.speed">
							<div class="input-group">
								<span class="input-group-text">Speed</span>
								<input v-model.number="speed" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': speed_valid, 'is-invalid': speed_invalid}">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl" v-if="capabilities.speed">
							<div class="input-group">
								<span class="input-group-text">Return speed</span>
								<input v-model.number="return_speed" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': return_speed_valid, 'is-invalid': return_speed_invalid}">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl" v-if="capabilities.acceleration">
							<div class="input-group">
								<span class="input-group-text">Acceleration</span>
								<input v-model.number="acceleration" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': acceleration_valid, 'is-invalid': acceleration_invalid}">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}^2}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl" v-if="capabilities.deceleration">
							<div class="input-group">
								<span class="input-group-text">Deceleration</span>
								<input v-model.number="deceleration" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': deceleration_valid, 'is-invalid': deceleration_invalid}">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}^2}\right]\)</span>
							</div>
						</div>
					</div>
				</div>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="g-3 row">
						<div class="col-12 col-md-10">
							<div class="input-group">
								<span class="input-group-text">Position</span>
								<input v-model.number="position" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" step="1">
								<span class="input-group-text">\(\left[\text{mm}\right]\)</span>
							</div>
						</div>
						<div class="btn-group col-12 col-md-2">
							<button class="btn btn-outline-success" :class="{active: reverse}"
								:disabled="!connected || !selected || measuring" @click="reverse=!reverse"
								data-bs-toggle="button">Reverse</button>
						</div>
						<div class="btn-group col-12 col-md-4">
							<button @click="origin_set" class="btn btn-outline-success"
								:disabled="!connected || !selected || measuring">Set
								origin</button>
							<button @click="move(0, true)" class="btn btn-outline-success"
								:disabled="!connected || !selected || measuring">Return to
								origin</button>
						</div>
						<div class="btn-group col-12 col-md-4">
							<button @click="update_position" class="btn btn-outline-info"
								:disabled="!connected || !selected || measuring">Update</button>
							<button class="btn btn-outline-info" :class="{active: position_autoupdate}"
								@click="position_autoupdate=!position_autoupdate"
								:disabled="!connected || !selected || measuring"
								data-bs-toggle="button">Autoupdate</button>
						</div>
						<div class="btn-group col-12 col-md-4">
							<button @click="move(position, false)" class="btn btn-outline-success"
								:disabled="!connected || !selected || measuring">Move</button>
							<button @click="stop" class="btn btn-outline-danger"
								:disabled="!connected || !selected || measuring">Stop</button>
						</div>
					</div>
				</div>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="g-3 row">
						<div class="input-group col-12 col-md">
							<span class="input-group-text">Step by</span>
							<input v-model.number="step_by" type="number" class="form-control"
								:readonly="!connected || !selected || measuring" min="0" step="1">
							<span class="input-group-text">\(\left[\text{mm}\right]\)</span>
						</div>
						<button v-if="capabilities.steppers" class="btn btn-outline-success col-12 col-md-2"
							:disabled="!connected || !selected || measuring" :class="{active: steppers}"
							@click="steppers=!steppers" data-bs-toggle="button">Steppers</button>
						<div class="btn-group col-12 col-md">
							<button @click="step_backward" :disabled="!connected || !selected || measuring"
								class="btn btn-outline-success">Backward</button>
							<button @click="step_forward" class="btn btn-outline-success"
								:disabled="!connected || !selected || measuring">Forward</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="motor-calibration-tab-pane" role="tabpanel"
			aria-labelledby="motor-calibration-tab" tabindex="3">
			<div id="app_calibration_motor" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Motor calibration
				</h1>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2">
						<div class="col-12">
							<h5>Position</h5>
						</div>
					</div>
					<div class="row g-2">
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Desired</span>
								<input v-model.number="position" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Actual</span>
								<input v-model.number="position_actual" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Coefficient</span>
								<input v-model.number="position_multiplier" type="number" class="form-control"
									:readonly="!connected || !selected || measuring"
									:class="{'is-valid': position_valid, 'is-invalid': position_invalid}">
							</div>
						</div>
					</div>
				</div>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2">
						<div class="col-12">
							<h5>Speed</h5>
						</div>
					</div>
					<div class="row g-2">
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Desired</span>
								<input v-model.number="speed" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Actual</span>
								<input v-model.number="speed_actual" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Coefficient</span>
								<input v-model.number="speed_multiplier" type="number" class="form-control"
									:readonly="!connected || !selected || measuring"
									:class="{'is-valid': speed_valid, 'is-invalid': speed_invalid}">
							</div>
						</div>
					</div>
				</div>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2">
						<div class="col-12">
							<h5>Acceleration</h5>
						</div>
					</div>
					<div class="row g-2">
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Desired</span>
								<input v-model.number="acceleration" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}^2}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Actual</span>
								<input v-model.number="acceleration_actual" type="number" class="form-control"
									:readonly="!connected || !selected || measuring" min="0" step="1">
								<span class="input-group-text">\(\left[{\text{mm}}/{\text{s}^2}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Coefficient</span>
								<input v-model.number="acceleration_multiplier" type="number" class="form-control"
									:readonly="!connected || !selected || measuring"
									:class="{'is-valid': acceleration_valid, 'is-invalid': acceleration_invalid}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="analyzer-control-tab-pane" role="tabpanel" aria-labelledby="analyzer-control-tab"
			tabindex="4">
			<div id="app_control_analyzer" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Analyzer control
				</h1>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2 mb-3">
						<div class="col-12 col-xl">
							<div class="input-group">
								<select v-model="f_style" class="form-select"
									:disabled="!connected || !selected || measuring">
									<option selected value="range">Range</option>
									<option selected value="span">Span</option>
								</select>
								<select v-model.number="f_mult" class="form-select"
									:disabled="!connected || !selected || measuring">
									<option v-for="pair in mult_list" :key="pair.value" :value="pair.value">
										{{pair.name}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-xl" v-if="f_style=='range'">
							<div class="input-group">
								<span class="input-group-text">Left</span>
								<input v-model="f_left" class="form-control col" type="number"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': f_left_valid, 'is-invalid': f_left_invalid}" />
							</div>
						</div>
						<div class="col-12 col-xl" v-if="f_style=='range'">
							<div class="input-group">
								<span class="input-group-text">Right</span>
								<input v-model="f_right" class="form-control col" type="number"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': f_right_valid, 'is-invalid': f_right_invalid}" />
							</div>
						</div>
						<div class="col-12 col-xl" v-if="f_style=='span'">
							<div class="input-group">
								<span class="input-group-text">Center</span>
								<input v-model="f_center" class="form-control col" type="number"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': f_center_valid, 'is-invalid': f_center_invalid}" />
							</div>
						</div>
						<div class="col-12 col-xl" v-if="f_style=='span'">
							<div class="input-group">
								<span class="input-group-text">Span</span>
								<input v-model="f_span" class="form-control col" type="number"
									:readonly="!connected || !selected || measuring" min="0" step="1"
									:class="{'is-valid': f_span_valid, 'is-invalid': f_span_invalid}" />
							</div>
						</div>
					</div>
					<div class="row g-2 mb-3">
						<div class="col-12 col-xl">
							<div class="input-group">
								<span class="input-group-text">Number of points</span>
								<select v-model.number="nop" class="form-select"
									:disabled="!connected || !selected || measuring">
									<option selected disabled value="0">Number of points</option>
									<option v-for="name in nops">{{name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-xl">
							<div class="input-group">
								<span class="input-group-text">Ports</span>
								<select v-model="s_part" class="form-select"
									:disabled="!connected || !selected || measuring">
									<option selected disabled value="">Type</option>
									<option v-for="pair in s_parts" :key="pair.value" :value="pair.value">{{pair.name}}
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row g-2 mb-3">
						<div class="col-12 col-xl">
							<div class="input-group">
								<span class="input-group-text">Measurement</span>
								<select v-model="measurement" class="form-select"
									:disabled="!connected || !selected || measuring">
									<option selected disabled value="">Measurement</option>
									<option v-for="pair in measurements_names" :key="pair.value" :value="pair.value">
										{{pair.name}}
									</option>
								</select>
							</div>
						</div>
						<div class="btn-group col-12 col-xl">
							<button :disabled="!connected || !selected || measuring" @click="do_measurement"
								class="btn btn-outline-success">Single</button>
							<button :disabled="!connected || !selected || measuring_field" data-bs-toggle="button"
								:class="{active: continuous_measure}" :aria-pressed="continuous_measure"
								@click="continuous_measure=!continuous_measure"
								class="btn btn-outline-info">Continuous</button>
							<button :disabled="!connected || !selected || measuring_field || !measuring_scattering"
								@click="interrupt_measure" class="btn btn-outline-danger">Interrupt</button>
						</div>
						<div class="btn-group col-12 col-xl">
							<button :disabled="!connected || !selected || measuring" @click="download_data"
								class="btn btn-outline-info">Download</button>
						</div>
					</div>
					<div id="analyzer_plot" class="h-75 m-2 align-items-center justify-content-center">
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="analyzer-calibration-tab-pane" role="tabpanel"
			aria-labelledby="analyzer-calibration-tab" tabindex="5">
			<div id="app_calibration_analyzer" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator" :class="{grayscale: !connected || !selected}"
						src="/static/online.svg" />
					Analyzer calibration
				</h1>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					Not supported
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="measurements-tab-pane" role="tabpanel" aria-labelledby="measurements-tab"
			tabindex="6">
			<div id="app_measure" class="container">
				<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<strong>Error!</strong> {{error_message}}.
					<button @click="error_message=''" class="btn-close" aria-label="Close"></button>
				</div>
				<h1>
					<img class="online-indicator"
						:class="{grayscale: !connected || !selected_motor || !selected_analyzer}"
						src="/static/online.svg" />
					Measurement
				</h1>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2 mb-3">
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Start</span>
								<input v-model.number="start" type="number" class="form-control"
									:readonly="!connected || !selected_motor || measuring" step="1">
								<span class="input-group-text">\(\left[\text{mm}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Stop</span>
								<input v-model.number="stop" type="number" class="form-control"
									:readonly="!connected || !selected_motor || measuring" step="1">
								<span class="input-group-text">\(\left[\text{mm}\right]\)</span>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Number of points</span>
								<input v-model.number="nop" type="number" class="form-control"
									:readonly="!connected || !selected_motor || !selected_analyzer || measuring" min="2"
									step="1">
							</div>
						</div>
					</div>
					<div class="row g-2 mb-3">
						<div class="btn-group col-12 col-lg-6 col-xl">
							<button @click="move(start)" class="btn btn-outline-success"
								:disabled="!connected || !selected_motor || measuring">Go to start</button>
							<button @click="swap" class="btn btn-outline-info"
								:disabled="!connected || !selected_motor || measuring">Swap</button>
							<button @click="move(stop)" class="btn btn-outline-success"
								:disabled="!connected || !selected_motor || measuring">Go to stop</button>
						</div>
					</div>
				</div>
				<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
					<div class="row g-2 mb-3">
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Field</span>
								<select v-model="field" class="form-select"
									:disabled="!connected || !selected_motor || !selected_analyzer || measuring">
									<option selected value="electric">Electric</option>
									<option value="magnetic">Magnetic</option>
								</select>
								<button v-if="method == 'indirect' && reflection" :class="{active: phase}"
									:aria-pressed="phase" @click="phase=!phase"
									:disabled="!connected || !selected_motor || !selected_analyzer || measuring"
									data-bs-toggle="button" class="btn btn-outline-info">Phase</button>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Material</span>
								<select v-model="material" class="form-select"
									:disabled="!connected || !selected_motor || !selected_analyzer || measuring">
									<option selected value="metal">Metal</option>
									<option selected value="dielectric" :disabled="field=='H'">Dielectric</option>
									<option selected value="magnetic" :disabled="field!='H'">Magnetic</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row g-2 mb-3">
						<div class="col-12 col-lg-6 col-xl">
							<div class="input-group">
								<span class="input-group-text">Method</span>
								<select v-model="method" class="form-select"
									:disabled="!connected || !selected_motor || !selected_analyzer || measuring">
									<option selected value="direct">Direct</option>
									<option selected value="indirect">Indirect</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-xl">
							<div class="input-group">
								<span class="input-group-text">\(k\)</span>
								<input v-model.number="coeff" type="number" class="form-control"
									:readonly="!connected || !selected_motor || !selected_analyzer || measuring"
									value="1">
							</div>
						</div>
						<div class="col-12 col-xl" v-if="!reflection && method == 'indirect'">
							<div class="input-group">
								<span class="input-group-text">\(Q_l\)</span>
								<input v-model.number="Ql" type="number" class="form-control"
									:readonly="!connected || !selected_motor || !selected_analyzer || measuring"
									value="1000" step="1000">
							</div>
						</div>
					</div>
					<div class="row g-2 mb-3">
						<div class="btn-group col-12 col-lg-6 col-xl">
							<button :disabled="!connected" data-bs-toggle="button" :class="{active: normalized}"
								:aria-pressed="normalized" @click="normalized=!normalized"
								class="btn btn-outline-info">Noramlize</button>
							<button :disabled="!connected || measuring"
								@click="download_data"
								class="btn btn-outline-info">Download</button>
						</div>
						<div class="btn-group col-12 col-lg-6 col-xl">
							<button :disabled="!connected || !selected_motor || !selected_analyzer || measuring"
								@click="do_measurement" class="btn btn-outline-success">Measure</button>
							<button :disabled="!connected || !selected_motor || !selected_analyzer || !measuring"
								@click="interrupt_measure" class="btn btn-outline-danger">Interrupt</button>
						</div>
					</div>
					<div id="field_plot" class="h-75 m-2 align-items-center justify-content-center">
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="theory-tab-pane" role="tabpanel" aria-labelledby="theory-tab" tabindex="7">
			<div class="shadow mb-3 p-3 g-1 bg-body rounded container">
				<h4>License</h4>
				<p>
					This program is free software: you can redistribute it and/or modify
					it under the terms of the GNU General Public License as published by
					the Free Software Foundation, either version 3 of the License, or (at your option) any later
					version.
				</p>
				<p>
					This program is distributed in the hope that it will be useful,
					but WITHOUT ANY WARRANTY; without even the implied warranty of
					MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
					GNU General Public License for more details.
				</p>
				<p>
					Program source files may be found at <a href="https://gitlab.com/matsievskiysv/beadpullxx">
						https://gitlab.com/matsievskiysv/beadpullxx</a>.
				</p>
				<h4>Equations</h4>
				<p>
					General equation:
					<span class="d-none d-sm-block">
						\[
						\frac{\Delta f}{f} = - \frac{V_1}{4 W}\left[
						\frac{
						\varepsilon_0 E_{0i}^2
						}{
						p_i + (\varepsilon-1)^{-1}
						}
						+
						\frac{
						\mu_0 H_{0i}^2
						}{
						m_i + (\mu-1)^{-1}
						}
						\right].
						\]
					</span>
					<span class="d-block d-sm-none">
						\[
						\begin{multline}
						\frac{\Delta f}{f} = - \frac{V_1}{4 W}\left[
						\frac{
						\varepsilon_0 E_{0i}^2
						}{
						p_i + (\varepsilon-1)^{-1}
						}
						\right.
						+ \\ +
						\left.
						\frac{
						\mu_0 H_{0i}^2
						}{
						m_i + (\mu-1)^{-1}
						}
						\right].
						\end{multline}
						\]
					</span>
				</p>
				<p>
					Simplified equation:
					\[
					\frac{\Delta f}{f} =
					\frac{
					- \displaystyle\sum_{i=1}^{N}{k^E_i E_{0i}^2} +
					\displaystyle\sum_{i=1}^{N}{k^H_i H_{0i}^2}
					}{W},
					\]
					where
					\[
					k^E_i = \frac{V_1}{4}\frac{\varepsilon_0}
					{(\varepsilon - 1 + p_i)}
					\]
					is an electric field form-factor,
					\[
					k^H_i = \frac{V_1}{4}\frac{\mu_0}{(\mu - 1 + m_i)}
					\]
					is a magnetic field form-factor.
				</p>
				<h5>Direct \(\Delta f\) measurements</h5>
				<p>
					Normalized electric field:
					\[
					\xi = \frac{E}{\sqrt{P Q}} =
					\sqrt{\frac{\Delta f}{2 \pi k^E f_0^2}}
					\left[\frac{\text{Ohm}^{1/2}}{\text{m}}\right].
					\]
					Normalized magnetic field:
					\[
					\varsigma = \frac{H}{\sqrt{P Q}} =
					\sqrt{\frac{\Delta f}{2 \pi k^H f_0^2}}
					\left[\frac{\text{Ohm}^{1/2}}{\text{m}}\right].
					\]
				</p>
				<h5>Reflection \(\Delta \dot S_{11}\) measurements</h5>
				<p>
					\[
					\Delta \dot S_{11} = \dot S_{11} - \dot S_{11}^0 = \dot C \dot E^2,
					\]
					where \(\dot S_{11}^0\) is a complex reflection in absence of bead.
				</p>
				<p>
					Equation for normalized electric field:
					\[
					\xi = \sqrt{\frac{|\dot S_{11}^n - \dot S_{11}^0|}
					{2 \pi k^S f_0^2}}.
					\]
					Equation for electric field phase:
					\[
					\varphi_{n} = \frac{\varphi_{n} - \varphi_{0}}{2}.
					\]
				</p>
				<p>
					Equation for normalized magnetic field:
					\[
					\varsigma = \sqrt{\frac{|\dot S_{11}^n - \dot S_{11}^0|}
					{2 \pi k^S f_0^2}}.
					\]
					Equation for magnetic field phase:
					\[
					\varphi_{n} = \frac{\varphi_{n} - \varphi_{0}}{2}.
					\]
				</p>
				<h5>Transmission \(\Delta \varphi\) measurements</h5>
				<p>
					Using the following equation:
					\[
					\Delta f = \frac{f_0}{2 Q_{load}} \tan{\Delta \varphi}
					\approx \frac{f_0 \Delta \varphi}{2 Q_{load}}, |\Delta \varphi| \le 5^\circ
					\]
					Normalized electric field:
					\[
					\xi = \frac{E}{\sqrt{P Q}} =
					\sqrt{\frac{\Delta \varphi}{4 \pi k^E f_0 Q_{load}}}
					\left[\frac{\text{Ohm}^{1/2}}{\text{m}}\right].
					\]
					Normalized magnetic field:
					\[
					\varsigma = \frac{H}{\sqrt{P Q}} =
					\sqrt{\frac{\Delta \varphi}{4 \pi k^H f_0 Q_{load}}}
					\left[\frac{\text{Ohm}^{1/2}}{\text{m}}\right].
					\]
				</p>
				<h4>Frequency response</h4>
				<table class="table">
					<thead class="table-light">
						<tr>
							<th scope="col">Bead material</th>
							<th scope="col">E-field</th>
							<th scope="col">H-field</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Metallic bead</th>
							<td>↓</td>
							<td>↑</td>
						</tr>
						<tr>
							<th scope="row">Dielectric bead</th>
							<td>↓</td>
							<td>—</td>
						</tr>
						<tr>
							<th scope="row">Magnetic bead</th>
							<td>—</td>
							<td>↓</td>
						</tr>
					</tbody>
				</table>
				<p><strong>For \(\varepsilon \gg 1\) or \(\mu \gg 1\) some equation approximations do not
						hold!</strong>
				</p>
				<h4>References</h4>
				<ol>
					<li><a href="/docs/Bead-pull_Measurement_Principle_Lecture_Haipeng_v8.pdf">
							Bead-pulling Measurement Principle and Technique Used for the SRF Cavities at JLab,
							Haipeng
							Wang</a></li>
					<li><a href="/docs/SmirnovAYu_Thesis.pdf">Высокочастотные дефлекторы на бегущей волне для
							диагностики пучков заряженных частиц, А.Ю. Смирнов</a></li>
				</ol>
			</div>
		</div>
	</div>

</body>

</html>
